$color-primary: #9D8665;
$color-secondary: #710707;
$color-black: #030303;
$color-white: #FFFFFF;
$color-social-border: #666666;
$color-progress-dark: #710707;
$color-progress-light: #C4C4C4;
$color-progress-dark-hover: #880f0f;
$color-progress-light-hover: #d8d8d8;

$content-width: 1440px;
$content-medium-width: 1024px;
$content-tablet-width: 768px;
$mobile-mobile-width: 420px;
$mobile-small-width: 320px;

$hover-transition: 0.3s linear;
$compare-transition: 0.1s ease;
$roboto: "Roboto", sans-serif;
$forum: "Forum", cursive;